# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
# sanhub.db
sanhub.db-journal
sanhub.db-wal
sanhub.db-shm

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
Rota_Equipes.xlsx
Planejamento_OS.xlsx
